# Python
__pycache__/
*.pyc
*.egg-info/
*.pyo
*.pyd
.venv/
.venv_clean/
venv/
.env

# OS / editor
.DS_Store
.vscode/
.idea/
Thumbs.db
.ipynb_checkpoints/

# Generated outputs (recommended)
outputs/*
derived_data/*
!outputs/.gitkeep
!derived_data/.gitkeep

# Local logs
*.log
